<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.board.Mapper.BoardMapper">


    <!-- 1 게시글 등록 -->
<insert id="insertData" parameterType="org.example.board.dto.BoardDTO" >
    insert into board (name,subject,content,views,created)
    values (#{name},#{subject},#{content},0,NOW());
</insert>
    <!-- 2 게시글 수정 -->
<update id="updateData" parameterType="org.example.board.dto.BoardDTO">
    update board
    set  = subject = #{subject},
        content = #{content}
    where num = #{num};
</update>
    <!-- 3 게시글 삭제 -->
<delete id="deleteData" parameterType="int">
    delete from board whwere num = #{num}
</delete>
    <!-- 4 목록에서 눌렀을 때 게시글 상세 조회 -->
<select id="getReadData" parameterType="int"  resultType="org.example.board.dto.BoardDTO">
    select name,subject,content,views,created
    from board where num =#{num}
</select>
    <!--5  페이징을 위해 게시글 전체 개수 조회 -->
<select id="countBoard" resultType="int">
    select count(*) from board
</select>

    <!-- 6 게시글 목록 (페이징) -->
<select id="getLists" parameterType="map" resultType="org.example.board.dto.BoardDTO">
    select num,name,subject,views,created
    from board order by num desc
    limit #{pageSize} offset (#{page}-1) * #{pageSize}
</select>

    <!-- 7 검색으로 게시글 조회하기 (목록안에 넣을수있지않을까..) -->


    <!-- 8 조회수 증가 -->
<update id="updateViews" parameterType="int">
update board
set views = views +1
where num = ${num}
</update>



</mapper>