
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.example.board.Mapper.CommentMapper">

    <!--등록 -->
    <insert id="insertComment" parameterType="org.example.board.DTO.CommentDTO" >
        insert into comment(board_id,user_name,content,created,password)
        values(#{boardId}, #{userName}, #{content}, now(),#{password});
    </insert>

    <!-- 삭제 -->
    <delete id="deleteComment" parameterType="org.example.board.DTO.CommentDTO">
        delete from comment where comment_id = #{commentId} and password = #{password}
    </delete>

    <!-- 댓글 조회 -->
    <select id="getCommentByBoardId" parameterType="int" resultType="org.example.board.DTO.CommentDTO">
        select comment_id, board_id, user_name, content, created
        from comment
        where board_id = #{boardId}
        order by created desc
    </select>
</mapper>